{% load wagtailcore_tags wagtailimages_tags %}


{% if aslide %}

<div class="swiper-slide {{ aslide.slide.bg_type }} main-slider-bg-light">

    <div class="container table full-height">
        <div class="row table-cell">

             <div class="col-lg-6 col-sm-12 table-cell">
                {% if aslide.slide.image %}
                <div class="slider-thumb" data-swiper-parallax="-300" data-swiper-parallax-duration="500">
                    {% image aslide.slide.image max-1280x640 %}
                </div>
                {% endif %}
            </div>

            <div class="col-lg-6 col-sm-12 table-cell">

                <div class="slider-content align-both">

                    <h2 class="slider-content-title" data-swiper-parallax="-100">{{ aslide.slide.heading }}</h2>

                    {% if aslide.slide.text %}
                        <h6 class="slider-content-text" data-swiper-parallax="-200">
                            {{ aslide.slide.text }}
                        </h6>
                    {% endif %}

                    <div class="main-slider-btn-wrap" data-swiper-parallax="-300">

                        <a href="02_company.html" class="btn btn--lime btn--with-shadow">
                            Get Started Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endif %}
