{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags writings_tags el_pagination_tags  %}
{% block content %}

<!-- Shoutout Header -->

<div class="tenf-stunning-header tenf-stunning-header--small stunning-header--content-inline bg-black">
    <div class="container">
        <div class="stunning-header-content c-white custom-color">
            <div class="inline-items">
                <h4 class="stunning-header-title">Stay informed on our news or events!</h4>

                <a href="15_pricing_tables.html" class="btn btn--green btn--with-shadow f-right">
                    Get trial version
                </a>
            </div>
        </div>
    </div>
</div>
<!-- ... end Shoutout Header -->

<!-- Breadcrumbs -->
<div class="container">
    <div class="row">
        <div class="breadcrumbs-wrap inline-items with-border">
            <a href="/" class="btn btn--transparent btn--round">
                <svg class="tenforward-icon tenforward-icon-home-icon-silhouette"><use xlink:href="#tenforward-icon-home-icon-silhouette"></use></svg>
            </a>

            <ul class="breadcrumbs">
                <li class="breadcrumbs-item active">
                    <span>Writings</span>
                    <svg class="tenforward-icon tenforward-icon-media-play-symbol"><use xlink:href="#tenforward-icon-media-play-symbol"></use></svg>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- ... end Breadcrumbs -->
    <!-- Blog posts-->

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
				{% if writing.video_url %}
                    <article class="hentry post post-standard has-post-thumbnail video">
                        <div class="post-thumb">
                    {% if writing.video_thumb %}
                            {% image writing.video_thumb max-480x395 %}
                            {% else %}
                            <img src="{%  static 'streams/img/video_thumb.png' %}">
                    {% endif %}
                        <div class="overlay"></div>
                        <a href="{{ writing.video_url}}" class="video-control js-popup-iframe">
                            <img src="{%  static 'img/play.png' %}">
                        </a>
						</div>
                    {% else %}

                    <article class="hentry post post-standard has-post-thumbnail sticky">

                    <div class="post-thumb">
                        {% if writing.header_image %}
                        {% image writing.header_image original as header_image %}
                        <img src="{{ header_image.url }}" alt="post">
                        <a href="{{ header_image.url }}" class="link-image js-zoom-image">
                            <svg class="tenforward-icon tenforward-icon-zoom-increasing-button-outline"><use xlink:href="#tenforward-icon-zoom-increasing-button-outline"></use></svg>
                        </a>
                        <a href="{% writing_date_url writing writing_page %}" class="link-post">
                            <svg class="tenforward-icon tenforward-icon-link-chain"><use xlink:href="#tenforward-icon-link-chain"></use></svg>
                        </a>
                        <div class="overlay-standard overlay--blue-dark"></div>
                        {% endif %}
                    </div>
                    {% endif %}

					<div class="post__content">

						<a href="#" class="social__item main">
							<svg class="tenforward-icon tenforward-icon-1496680146-share"><use xlink:href="#tenforward-icon-1496680146-share"></use></svg>
						</a>

						<div class="share-product">

							<ul class="socials">
								<li>
									<a href="#" class="social__item facebook">
										<svg class="tenforward-icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M15.117 0H.883C.395 0 0 .395 0 .883v14.234c0 .488.395.883.883.883h7.663V9.804H6.46V7.39h2.086V5.607c0-2.066 1.262-3.19 3.106-3.19.883 0 1.642.064 1.863.094v2.16h-1.28c-1 0-1.195.48-1.195 1.18v1.54h2.39l-.31 2.42h-2.08V16h4.077c.488 0 .883-.395.883-.883V.883C16 .395 15.605 0 15.117 0" fill-rule="nonzero"></path></svg>
									</a>
								</li>

								<li>
									<a href="#" class="social__item twitter">
										<svg class="tenforward-icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.37-1.337.64-2.085.79-.598-.64-1.45-1.04-2.396-1.04-1.812 0-3.282 1.47-3.282 3.28 0 .26.03.51.085.75-2.728-.13-5.147-1.44-6.766-3.42C.83 2.58.67 3.14.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.41-.02-.61-.058.42 1.304 1.63 2.253 3.07 2.28-1.12.88-2.54 1.404-4.07 1.404-.26 0-.52-.015-.78-.045 1.46.93 3.18 1.474 5.04 1.474 6.04 0 9.34-5 9.34-9.33 0-.14 0-.28-.01-.42.64-.46 1.2-1.04 1.64-1.7z" fill-rule="nonzero"></path></svg>
									</a>
								</li>

								<li>
									<a href="#" class="social__item googlePlus">
										<svg class="tenforward-icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M8.16 6.857V9.6h4.537c-.183 1.177-1.37 3.45-4.537 3.45-2.73 0-4.96-2.26-4.96-5.05s2.23-5.05 4.96-5.05c1.554 0 2.594.66 3.19 1.233l2.17-2.092C12.126.79 10.32 0 8.16 0c-4.423 0-8 3.577-8 8s3.577 8 8 8c4.617 0 7.68-3.246 7.68-7.817 0-.526-.057-.926-.126-1.326H8.16z"></path></svg>
									</a>
								</li>

								<li>
									<a href="#" class="social__item rss">
										<svg class="tenforward-icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M12.8 16C12.8 8.978 7.022 3.2 0 3.2V0c8.777 0 16 7.223 16 16h-3.2zM2.194 11.61c1.21 0 2.195.985 2.195 2.196 0 1.21-.99 2.194-2.2 2.194C.98 16 0 15.017 0 13.806c0-1.21.983-2.195 2.194-2.195zM10.606 16h-3.11c0-4.113-3.383-7.497-7.496-7.497v-3.11c5.818 0 10.606 4.79 10.606 10.607z"/></svg>
									</a>
								</li>
							</ul>

						</div>

						<div class="post__date">

							<time class="published" datetime="{{ writing.date|date:"Y-m-d G:i:s" }}">
                                <a href="#" class="number">{{ writing.date|date:"d" }}</a>
                                <span class="month">{{ writing.date|date:"M Y" }}</span>
                                <span class="day">{{ writing.date|date:"l" }}</span>
                            </time>

						</div>

						<div class="post__content-info">

							<h3 class="post__title entry-title">{{ writing.title }}</h3>

							<div class="post-additional-info">
								<span class="post__author author vcard">
									By
									<a href="#" class="fn">{{ writing.owner}}</a>
								</span>
								<span class="category">
									In
									<a href="16_news.html">News</a>
								</span>
								<span class="post__comments">
									<a href="#">6 <span>Comments</span></a>
								</span>
							</div>

						</div>
                        {{ writing.body|richtext }}
						<div class="post-details-shared">
							<ul class="tags-inline">
								<li>Tags:</li>
								<li>
									<a href="#">
										Entrepreneur
									</a>
									,
								</li>
								<li>
									<a href="#">
										Innovation
									</a>
									,
								</li>
								<li>
									<a href="#">
										Startup
									</a>
									,
								</li>

								<li>
									<a href="#">
										Tech
									</a>
									,
								</li>
								<li>
									<a href="#">
										Trends
									</a>
								</li>
							</ul>

							<div class="widget w-follow">
								<ul class="socials socials--round">

									<li>Share:</li>
									<li>
										<a href="#" class="social__item facebook">
											<svg class="tenforward-icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M15.117 0H.883C.395 0 0 .395 0 .883v14.234c0 .488.395.883.883.883h7.663V9.804H6.46V7.39h2.086V5.607c0-2.066 1.262-3.19 3.106-3.19.883 0 1.642.064 1.863.094v2.16h-1.28c-1 0-1.195.48-1.195 1.18v1.54h2.39l-.31 2.42h-2.08V16h4.077c.488 0 .883-.395.883-.883V.883C16 .395 15.605 0 15.117 0" fill-rule="nonzero"></path></svg>
										</a>
									</li>
									<li>
										<a href="#" class="social__item twitter">
											<svg class="tenforward-icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.37-1.337.64-2.085.79-.598-.64-1.45-1.04-2.396-1.04-1.812 0-3.282 1.47-3.282 3.28 0 .26.03.51.085.75-2.728-.13-5.147-1.44-6.766-3.42C.83 2.58.67 3.14.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.41-.02-.61-.058.42 1.304 1.63 2.253 3.07 2.28-1.12.88-2.54 1.404-4.07 1.404-.26 0-.52-.015-.78-.045 1.46.93 3.18 1.474 5.04 1.474 6.04 0 9.34-5 9.34-9.33 0-.14 0-.28-.01-.42.64-.46 1.2-1.04 1.64-1.7z" fill-rule="nonzero"></path></svg>
										</a>
									</li>

									<li>
										<a href="#" class="social__item googlePlus">
											<svg class="tenforward-icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M8.16 6.857V9.6h4.537c-.183 1.177-1.37 3.45-4.537 3.45-2.73 0-4.96-2.26-4.96-5.05s2.23-5.05 4.96-5.05c1.554 0 2.594.66 3.19 1.233l2.17-2.092C12.126.79 10.32 0 8.16 0c-4.423 0-8 3.577-8 8s3.577 8 8 8c4.617 0 7.68-3.246 7.68-7.817 0-.526-.057-.926-.126-1.326H8.16z"></path></svg>
										</a>
									</li>
								</ul>
							</div>

						</div>

					</div>

				</article>

				<div class="blog-details-author">

					<div class="img-author">
						<img src="img/author2.png" alt="author">
					</div>
					<div class="author-info">
						<a href="#" class="h6 author-name">Jonathan Millere</a>
						<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
					</div>

					<ul class="socials socials--round socials--colored">
						<li>
							<a href="#" class="social__item facebook">
								<svg class="tenforward-icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M15.117 0H.883C.395 0 0 .395 0 .883v14.234c0 .488.395.883.883.883h7.663V9.804H6.46V7.39h2.086V5.607c0-2.066 1.262-3.19 3.106-3.19.883 0 1.642.064 1.863.094v2.16h-1.28c-1 0-1.195.48-1.195 1.18v1.54h2.39l-.31 2.42h-2.08V16h4.077c.488 0 .883-.395.883-.883V.883C16 .395 15.605 0 15.117 0" fill-rule="nonzero"></path></svg>
							</a>
						</li>
						<li>
							<a href="#" class="social__item twitter">
								<svg class="tenforward-icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.37-1.337.64-2.085.79-.598-.64-1.45-1.04-2.396-1.04-1.812 0-3.282 1.47-3.282 3.28 0 .26.03.51.085.75-2.728-.13-5.147-1.44-6.766-3.42C.83 2.58.67 3.14.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.41-.02-.61-.058.42 1.304 1.63 2.253 3.07 2.28-1.12.88-2.54 1.404-4.07 1.404-.26 0-.52-.015-.78-.045 1.46.93 3.18 1.474 5.04 1.474 6.04 0 9.34-5 9.34-9.33 0-.14 0-.28-.01-.42.64-.46 1.2-1.04 1.64-1.7z" fill-rule="nonzero"></path></svg>
							</a>
						</li>

						<li>
							<a href="#" class="social__item googlePlus">
								<svg class="tenforward-icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M8.16 6.857V9.6h4.537c-.183 1.177-1.37 3.45-4.537 3.45-2.73 0-4.96-2.26-4.96-5.05s2.23-5.05 4.96-5.05c1.554 0 2.594.66 3.19 1.233l2.17-2.092C12.126.79 10.32 0 8.16 0c-4.423 0-8 3.577-8 8s3.577 8 8 8c4.617 0 7.68-3.246 7.68-7.817 0-.526-.057-.926-.126-1.326H8.16z"></path></svg>
							</a>
						</li>
					</ul>

				</div>



				<div class="pagination-arrow">

					<a href="#" class="btn-prev-wrap">
						<div class="btn-prev">
							<svg class="tenforward-icon icon-hover tenforward-icon-arrow-left-1"><use xlink:href="#tenforward-icon-arrow-left-1"></use></svg>
							<svg class="tenforward-icon tenforward-icon-arrow-left1"><use xlink:href="#tenforward-icon-arrow-left1"></use></svg>
						</div>
						<div class="btn-content">
							<div class="btn-content-title">Next Post</div>
							<p class="btn-content-subtitle">Standard Post Format...</p>
						</div>
					</a>

					<a class="list-post" href="#">
						<svg class="tenforward-icon tenforward-icon-menu-1"><use xlink:href="#tenforward-icon-menu-1"></use></svg>
					</a>

					<a href="#" class="btn-next-wrap">
						<div class="btn-content">
							<div class="btn-content-title">Previous Post</div>
							<p class="btn-content-subtitle">Video Post Format...</p>
						</div>
						<div class="btn-next">
							<svg class="tenforward-icon icon-hover tenforward-icon-arrow-right-1"><use xlink:href="#tenforward-icon-arrow-right-1"></use></svg>
							<svg class="tenforward-icon tenforward-icon-arrow-right1"><use xlink:href="#tenforward-icon-arrow-right1"></use></svg>
						</div>
					</a>

				</div>

				<div class="comments">

					<div class="d-flex--content-inline">
						<h3>6 Comments</h3>

						<a href="#" class="btn btn--green">
							<span class="text">Leave a Comment</span>
						</a>
					</div>

					<ol class="comments__list">

						<li class="comments__item">

							<div class="comment-entry comment comments__article">

								<div class="comments__avatar">

									<img src="img/author3.png" alt="avatar">

								</div>


								<div class="comments__body">

									<div class="d-flex--content-inline">

										<header class="comment-meta comments__header">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TKGD7NP');</script>
<!-- End Google Tag Manager -->

											<cite class="fn url comments__author">
												<a href="#" rel="external" class="h6">Susan Simpson</a>
											</cite>

											<div class="comments__time">
												<time class="published" datetime="2017-03-19 10:07:00">19th March 2017, 10:07 am</time>
											</div>

										</header>

										<a href="#" class="btn reply">reply</a>
									</div>

									<div class="comment-content comment">
										<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
											lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram,
											anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
										</p>
									</div>

								</div>

							</div>
						</li>

						<li class="comments__item">

							<div class="comment-entry comment comments__article">

								<div class="comments__avatar">

									<img src="img/author4.png" alt="avatar">

								</div>


								<div class="comments__body">

									<div class="d-flex--content-inline">

										<header class="comment-meta comments__header">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TKGD7NP');</script>
<!-- End Google Tag Manager -->

											<cite class="fn url comments__author">
												<a href="#" rel="external" class="h6">Doe Meyer</a>
											</cite>

											<div class="comments__time">
												<time class="published" datetime="2017-03-19 10:07:00">19th March 2017, 10:07 am</time>
											</div>

										</header>

										<a href="#" class="btn reply">reply</a>
									</div>

									<div class="comment-content comment">
										<p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
											litterarum formas humanitatis per seacula quarta decima et quinta decima.
										</p>
									</div>

								</div>

							</div>

							<ol class="children">

								<li class="comments__item">

									<div class="comment-entry comment comments__article">

										<div class="comments__avatar">

											<img src="img/author8.png" alt="avatar">

										</div>


										<div class="comments__body">

											<div class="d-flex--content-inline">

												<header class="comment-meta comments__header">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TKGD7NP');</script>
<!-- End Google Tag Manager -->

													<cite class="fn url comments__author">
														<a href="#" rel="external" class="h6">Jane Nguyen</a>
													</cite>

													<div class="comments__time">
														<time class="published" datetime="2017-03-19 10:07:00">19th March 2017, 10:07 am</time>
													</div>

												</header>

												<a href="#" class="btn reply">reply</a>
											</div>

											<div class="comment-content comment">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
													nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
													Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
													suscipit lobortis nisl ut aliquip.
												</p>
											</div>

										</div>

									</div>

									<ol class="children">

										<li class="comments__item">

											<div class="comment-entry comment comments__article">

												<div class="comments__avatar">

													<img src="img/author7.png" alt="avatar">

												</div>


												<div class="comments__body">

													<div class="d-flex--content-inline">

														<header class="comment-meta comments__header">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TKGD7NP');</script>
<!-- End Google Tag Manager -->

															<cite class="fn url comments__author">
																<a href="#" rel="external" class="h6">Jonathan Miller</a>
															</cite>

															<div class="comments__time">
																<time class="published" datetime="2017-03-19 10:07:00">19th March 2017, 10:07 am</time>
															</div>

														</header>

														<a href="#" class="btn reply">reply</a>
													</div>

													<div class="comment-content comment">
														<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
													</div>

												</div>

											</div>
										</li>

									</ol>
								</li>

							</ol>
						</li>

						<li class="comments__item">

							<div class="comment-entry comment comments__article">

								<div class="comments__avatar">

									<img src="img/author3.png" alt="avatar">

								</div>


								<div class="comments__body">

									<div class="d-flex--content-inline">

										<header class="comment-meta comments__header">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TKGD7NP');</script>
<!-- End Google Tag Manager -->

											<cite class="fn url comments__author">
												<a href="#" rel="external" class="h6">Susan Simpson</a>
											</cite>

											<div class="comments__time">
												<time class="published" datetime="2017-03-19 10:07:00">19th March 2017, 10:07 am</time>
											</div>

										</header>

										<a href="#" class="btn reply">reply</a>
									</div>

									<div class="comment-content comment">
										<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
											lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram,
											anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
										</p>
									</div>

								</div>

							</div>
						</li>

						<li class="comments__item">

							<div class="comment-entry comment comments__article">

								<div class="comments__avatar">

									<img src="img/author4.png" alt="avatar">

								</div>


								<div class="comments__body">

									<div class="d-flex--content-inline">

										<header class="comment-meta comments__header">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TKGD7NP');</script>
<!-- End Google Tag Manager -->

											<cite class="fn url comments__author">
												<a href="#" rel="external" class="h6">Doe Meyer</a>
											</cite>

											<div class="comments__time">
												<time class="published" datetime="2017-03-19 10:07:00">19th March 2017, 10:07 am</time>
											</div>

										</header>

										<a href="#" class="btn reply">reply</a>
									</div>

									<div class="comment-content comment">
										<p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
											litterarum formas humanitatis per seacula quarta decima et quinta decima.
										</p>
									</div>

								</div>

							</div>
						</li>
					</ol>

					<form class="form-validate contact-form leave-reply" method="post">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<h3>Leave a Comment</h3>
						</div>

						<div class="row">

							<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
								<div class="with-icon">
									<input name="name" placeholder="Your Name" type="text">
									<svg class="tenforward-icon tenforward-icon-user"><use xlink:href="#tenforward-icon-user"></use></svg>
								</div>
							</div>
							<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
								<div class="with-icon">
									<input name="email" placeholder="Email Adress" type="text">
									<svg class="tenforward-icon tenforward-icon-message-closed-envelope-1"><use xlink:href="#tenforward-icon-message-closed-envelope-1"></use></svg>
								</div>
							</div>

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="with-icon">
									<textarea name="message" class="" required="" placeholder="Your Message" style="min-height: 160px;"></textarea>
									<svg class="tenforward-icon tenforward-icon-edit"><use xlink:href="#tenforward-icon-edit"></use></svg>
								</div>
							</div>

							<div class="submit-block">
								<div class="col-lg-4">
									<a href="#" class="btn btn--large btn--green btn--with-shadow full-width">
										<span class="text">Submit</span>
									</a>
								</div>
								<div class="col-lg-8">
									<div class="submit-block-text">
										You may use these HTML tags and attributes: <span> &lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt;
										&lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt;
										&lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt; </span>
									</div>
								</div>

							</div>

						</div>
					</form>
				</div>


			</div>
            {% include 'writings/components/sidebar.html' %}
		</div>
	</div>

	<!-- End Blog posts-->
{% endblock content %}