{% load i18n wagtailroutablepage_tags %}

<!--Categories-->
<ul class="category-list">

        {% for category in categories %}
            {% if forloop.last %}
                <li>
            {% else %}
                <li>
            {% endif %}
                <a href="{% routablepageurl writing_page "writing_by_category" category.slug %}">
                    {{ category.name }}
                </a>
            </li>
        {% empty %}
            {% trans 'No categories yet' %}
        {% endfor %}
</ul>