// Split these out so we can change them in layouts.v6.5.css
$font-serif: Avro, serif;
$font-family: 'Avro', serif;
$font-sans-serif: Avro, sans-serif;
$font-sans-serif-bold: Avro, sans-serif;
$font-vaud: Vaud, sans-serif;

@import "common.scss";